* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'courier new', courier, sans-serif;
    font-weight: 500;
    color: #555;
    margin-top: 50px;
}

h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 1.2;
}
h2 {
    font-size: 21px;
    line-height: 1.2;
}
p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #2ec371;
}

blockquote {
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.5714302062988px;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Navbar */

header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 999;
}

#header-title {
    float: left;
    padding-top: 15px;
    margin-bottom: 0px;
}

#header-nav {
    float: right;
}

#header-nav li {
    display: inline-block;
    vertical-align: top;
}

#header-nav li a {
    display: block;
    padding: 15px;
}

#header-nav li a:hover {
    background-color: #fefefe;
}

/* Top Section Styling */

#top {
    text-align: center;
    background-color: #cbd0d2;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url('images/solar.jpg') no-repeat center center;
    background-size: cover;
}

#top h1 {
    color: #2ec371;
    font-weight: 800;
}

#top h2 {
    color: whitesmoke;
    font-weight: 200;
}

#top fieldset {
    width: 400px;
    margin: 20px auto;
    position: relative;
    text-align: left;
}

#top input[type="text"] {
    padding: 11px;
    width: 75%;
    font-size: 20px;
    border: 2px solid #2ec371;
}

#top input[type="text"]:focus {
    outline: 0;
    border: 1px solid red;
}

#top input[type="submit"] {
    padding: 15px;
    background-color: #2ec371;
    border: 1px solid #2ec371;
    font-size: 15px;
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    color: #fefefe;
}

#top input[type="submit"]:hover {
    cursor: pointer;
}

/* Middle Section */

#grid-image{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Bottom Section */

#bottom {
    background-color: #f9f9f9;
    text-align: center;
}

#bottom h2 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

#bottom h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#bottom img {
    max-height: 150px;
    border-radius: 10px;
}

.one-half {
    background-color: #fefefe;
    border: 1px solid #ececec;
    width: 48%;
    /*float: left;*/
    display: inline-block;
    padding: 30px 20px;
    margin: 1%;
    vertical-align: top;
}

#to-the-top {
    color: #fefefe;
    background-color: #2ec371;
    padding: 20px;
    border-radius: 35px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Projects Page */

#projects {
    padding-top: 30px;
}

#projects article {
    width: 33.333%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

#projects article img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#projects h4 {
    padding: 7px;
    font-size: 18px;
    font-weight: bold;
}

#projects p {
    padding: 7px;
}

/* Universal */

.container {
    width: 970px;
    margin: 0 auto;
}

.skinny {
    font-weight: 100;
    color: #fefefe;
}

.btn {
    background-color: #428bca;
    border: 1px solid #357ebd;
    color: #fefefe;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #357ebd;
}

/*

/* clearfix */
.row:before,
.row:after, .clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.row:after, .clearfix:after {
    clear: both;
}
.row, .clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 740px;
    }

    header {
        font-size: 14px;
    }

    #header-nav li a {
        padding: 18px 15px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 15px;
    }

    header {
        height: 70px;
    }

    #top fieldset {
        width: 95%;
    }

    #header-title {
        float: none;
        text-align: center;
    }

    .container {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    #header-nav {
        float: none;
        clear: left;
        font-size: 12px;

    }

    #header-nav li a {
        padding: 12px;
    }

    .one-half {
        width: 98%;
    }
}