<!DOCTYPE> <!--For some reason if we have the "!" placed before DOCTYPE, the navigation drop-down fails to work.-->
<html>
<head>
    <title>Lorem Ipsum</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <!--type="text/css">
</head>
<!-- Navigation Bar -->
<div id="nav" class = "autotext">
    <!-- Logo -->
    <div class="basicBorder logo"></div>
    <!-- Navigation Section -->
    <div class="basicBorder navSection">
        <div class="basicBorder dropdown">
				<span style="color:blue">
					Navigation
				</span>
            <div class="basicBorder dropDownItems">
                <ul>
                    <li>
                        <a href="http://google.com">Google</a>
                    </li>
                    <br>
                    <li>
                        <a href="https://github.com/SSBMFreak/WebDev-Team-Project">Team Website</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Log In -->
    <div class="basicBorder login">
        <form action="/">
            <!--
            {{if  .LoggedIn}}
                <a href="">Log Out</a>
            {{else}} -->
            <a href="login">Log In</a>
            <!--{{end}} -->

        </form>
    </div>
</div>
<body>
<!-- Above the Fold Section -->
<div id="atf">
    <!-- Above the Fold Contend Container -->
    <div id = "content">
        <p class = "title">Lorem ipsum dolor sit amet</p>
        <p class = "textbody">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    </div>
</div>
<!-- Below the Fold Element-->
<div id ="btf">
    <!-- 'Left Column', on right with flexbox -->
    <div id = "leftColumn">
        <p class = "title">
            Related Ipsum
        </p>
        <p class = "textbody">
            Idem iste, inquam, de voluptate quid sentit? Utilitatis causa amicitia est quaesita. Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Nam Pyrrho, Aristo, Erillus iam diu abiecti. Consequens enim est et post oritur, ut dixi. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis.
            Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Quam ob rem tandem, inquit, non satisfacit? An nisi populari fama? Ne in odium veniam, si amicum destitero tueri. Nam memini etiam quae nolo, oblivisci non possum quae volo.
        </p>
    </div>
    <!-- Main Content Section of Below the Fold, stays even on mobile -->
    <div class = "content">
        <p class="textbody">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Videmus igitur ut conquiescere ne infantes quidem possint. Nunc de hominis summo bono quaeritur; Quid igitur dubitamus in tota eius natura quaerere quid sit effectum? Primum in nostrane potestate est, quid meminerimus? Et non ex maxima parte de tota iudicabis? Cur, nisi quod turpis oratio est? Sequitur disserendi ratio cognitioque naturae; Quamquam te quidem video minime esse deterritum.
            Duo Reges: constructio interrete. Quodsi ipsam honestatem undique pertectam atque absolutam. Frater et T. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Iubet igitur nos Pythius Apollo noscere nosmet ipsos. At multis se probavit.
            Idem iste, inquam, de voluptate quid sentit? Utilitatis causa amicitia est quaesita. Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Nam Pyrrho, Aristo, Erillus iam diu abiecti. Consequens enim est et post oritur, ut dixi. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis.
            Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Quam ob rem tandem, inquit, non satisfacit? An nisi populari fama? Ne in odium veniam, si amicum destitero tueri. Nam memini etiam quae nolo, oblivisci non possum quae volo.
            Quoniam, si dis placet, ab Epicuro loqui discimus. Itaque hic ipse iam pridem est reiectus; Quem Tiberina descensio festo illo die tanto gaudio affecit, quanto L. Quo modo autem optimum, si bonum praeterea nullum est? Omnia contraria, quos etiam insanos esse vultis. Inde igitur, inquit, ordiendum est. Non igitur de improbo, sed de callido improbo quaerimus, qualis Q. Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Ne discipulum abducam, times.
        </p>
        <p class="textbody">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Videmus igitur ut conquiescere ne infantes quidem possint. Nunc de hominis summo bono quaeritur; Quid igitur dubitamus in tota eius natura quaerere quid sit effectum? Primum in nostrane potestate est, quid meminerimus? Et non ex maxima parte de tota iudicabis? Cur, nisi quod turpis oratio est? Sequitur disserendi ratio cognitioque naturae; Quamquam te quidem video minime esse deterritum.
            Duo Reges: constructio interrete. Quodsi ipsam honestatem undique pertectam atque absolutam. Frater et T. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Iubet igitur nos Pythius Apollo noscere nosmet ipsos. At multis se probavit.
            Idem iste, inquam, de voluptate quid sentit? Utilitatis causa amicitia est quaesita. Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Nam Pyrrho, Aristo, Erillus iam diu abiecti. Consequens enim est et post oritur, ut dixi. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis.
            Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Quam ob rem tandem, inquit, non satisfacit? An nisi populari fama? Ne in odium veniam, si amicum destitero tueri. Nam memini etiam quae nolo, oblivisci non possum quae volo.
            Quoniam, si dis placet, ab Epicuro loqui discimus. Itaque hic ipse iam pridem est reiectus; Quem Tiberina descensio festo illo die tanto gaudio affecit, quanto L. Quo modo autem optimum, si bonum praeterea nullum est? Omnia contraria, quos etiam insanos esse vultis. Inde igitur, inquit, ordiendum est. Non igitur de improbo, sed de callido improbo quaerimus, qualis Q. Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Ne discipulum abducam, times.
        </p>
    </div>
    <!-- 'Right Column', on left with flexbox -->
    <div id = "rightColumn">
        <p class = "title">
            More About Lorem
        </p>
        <p class ="textbody">
            Idem iste, inquam, de voluptate quid sentit? Utilitatis causa amicitia est quaesita. Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Nam Pyrrho, Aristo, Erillus iam diu abiecti. Consequens enim est et post oritur, ut dixi. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis.
            Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Quam ob rem tandem, inquit, non satisfacit? An nisi populari fama? Ne in odium veniam, si amicum destitero tueri. Nam memini etiam quae nolo, oblivisci non possum quae volo.
        </p>
    </div>
</div>
<div>
    <!-- TOP Button: warps to 'Above the fold' from anywhere on webpage -->
    <a id="to-the-top" href="#top"> <!--implicit anchor -->
        <!-- Make svg container 100x100 large -->
        <svg height="100" width="100"> <!-- scalable vector graphic -->
            <!-- Make Circle of Radius 30 with an offset of x=50 and y=50 with a black border and maroon interior. -->
            <circle cx="50" cy="50" r="30" stroke="black" stroke-width="4" fill="#4C0A38" />
            <!-- Place Text on top of the circle, Refer to the Circle for rest of the details. -->
            <text x="29" y="56" font-family="Courier New" font-size="25" fill="white" > TOP </text>
        </svg>
    </a>
</div>
<!-- Footer Element -->
<div id="footer">
    <p class="textfooterL">Arlene Cazarez<br> Kenneth Willeford <br> Jacob Rahcal <br>Davis Hang</p>
    <p class=" textfooterR">CSU,Fresno<br>CSCI 130<br> April 21, 2016</p>
    <img src="public/images/footer.png" id = "footerImg">
</div>
</body>