<!DOCTYPE> <!--.-->
<html>
<head>
    <title>Badass Blogs</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
</head>
<!-- Navigation Bar -->
<div id="nav" class = "autotext">
    <!-- Logo -->
    <div class="basicBorder logo"></div>
    <!-- Navigation Section -->
    <div class="basicBorder navSection">
        <div class="basicBorder dropdown">
				<span style="color:blue">
					Navigation
				</span>
            <div class="basicBorder dropDownItems">
                <ul>
                    <li>
                        <a href="http://google.com">Google</a>
                    </li>
                    <br>
                    <li>
                        <a href="https://github.com/SSBMFreak/WebDev-Team-Project">Team Website</a>
                    </li>
                    <li>
                        <div>
                            <!-- TOP Button: warps to 'Above the fold' from anywhere on webpage -->
                            <a href="#top"> <!--implicit anchor -->
                                <!-- Make svg container 100x100 large -->
                                <svg height="100" width="100"> <!-- scalable vector graphic -->
                                    <!-- Make Circle of Radius 30 with an offset of x=50 and y=50 with a black border and maroon interior. -->
                                    <circle cx="50" cy="50" r="30" stroke="rgba(0,0,0,0.3)" stroke-width="4" fill="rgba(0,0,0,0.2)" />
                                    <!-- Place Text on top of the circle, Refer to the Circle for rest of the details. -->
                                    <text x="29" y="56" font-family="Courier New" font-size="25" fill="blue" > TOP </text>
                                </svg>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Log In -->
    <div class="basicBorder login">
        {{if .Edit}}<a href= "/edituser" class="button">Edit Info</a>{{end}} | <a href= "{{.Url}}" class="button">{{.UrlText}}</a>
    </div>
</div>
<style type="text/css">
    * {box-sizing: border-box !important;}
</style>
<body>
<!-- Above the Fold Section -->
<div id="atf">
    <!-- Above the Fold Contend Container -->
    <div id = "content" style="display:inline-flex;">
        <p class = "title">BAD-ASS BLOGS</p> <!--{{.BlogTitle}}</p>-->
        <div style="width: 86%; margin: auto; padding-left:20%; color: white;"><p>Where we find & share the diamonds hiding within the internet. You're welcome.</p> </div><!--{{.BlogTitleBody}}</p>--><!-- Ok, how do I center this dang line with the rest of the page! -->
    </div>
</div>
<br>
<!-- Below the Fold Element-->
<div id ="btf">
    <!-- 'Left Column', on right with flexbox -->
    <div id = "leftColumn" style="display: inline-block; width:32%;">
        <p class = "title"><blockquote><b>SITE RULES</b></blockquote></p><!--{{.LeftTitle}}</p>-->
        <br> <p class = "textbody"><blockquote> Respect others. <br> Be kind. <br> No shitposting.<br> Don't do anything to threaten the functionality of this site.</blockquote></p><!--{{.LeftBody}}</p>-->
    </div>
    <!-- Main Content Section of Below the Fold, stays even on mobile -->
    <div class = "content" style="display: inline-block; width:32%;">
        <p class = "title"><blockquote><b>MISSION STATEMENT</b></blockquote></p>
        <br><p class="textbody"><blockquote>Hi there!</blockquote></p> <!-- this is where I place the mission statement {{.BlogBody}}-->
        <br><p class="textbody" ><blockquote>This website is dedicated to the sharing of the things within the internet that can make one glad to be a part of the human race. (I'll probably expand this in the future.) - Jacob Rachal</blockquote></p> <!--style="text-align: center"-->
    </div>
    <!-- 'Right Column', on left with flexbox -->
    <div id = "rightColumn" style="display: inline-block; width:32%;">
        <p class = "title"><blockquote>User Blogs</blockquote></p>
        <br> <p class ="textbody"><blockquote>
        {{range $index, $element := .BlogList}}
        <p><a href= blog/{{$element}}>{{$element}}</a></p></p><br>
        {{end}}
        </blockquote></p>
    </div>
</div>
<!-- Footer Element -->
<div id="footer">
    <p class="textfooterL"><blockquote> Copyright 1991-2016 </blockquote></p>
    <p class=" textfooterR"><blockquote>Presented by CRWH using the Go programing language.</blockquote></p>
</div>
</body>
</html>