<DOCTYPE! HTML>
<html>
	<head>
		<title>Lorem Ipsum</title>
	</head>
	<body style="background-color:black;">
	<style>
		p{color:white;}
	</style>
		<p>Register
		<br>
		<div style="color:red;" id="errorText"></div>
				<form action="javascript:userCheck()">
					<p>Username<br><input type="text" id="userNameInput"></p>
					<p>Password<br><input type="password" id="userPasswordInput"></p>
					<p>Confirm Password<br><input type="password" id="userConfirmPasswordInput"></p>
					<p>Email<br><input type="email" id="userEmailInput"></p>
					<p> <input type="submit"></p>
		</p>
		<p>
		Already a user? <a href="/login">Log In</a>.
		</p>
	</body>
	<script>
		var redirect = function(url, method) {
			var form = document.createElement('form');
			form.method = method;
			form.action = url;
			form.submit();
		};
		function userCheck(){
			username = document.getElementById("userNameInput").value
			password = document.getElementById("userPasswordInput").value
			confirmpassword = document.getElementById("userConfirmPasswordInput").value
			if(password != confirmpassword){
				document.getElementById("errorText").innerHTML = "The Passwords Do Not Match";				
				return
			}
			email = document.getElementById("userEmailInput").value
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (xhttp.readyState == 4 && xhttp.status == 200) {
					if(xhttp.responseText == "exists"){
						document.getElementById("errorText").innerHTML = "That Username Already Exists";
					} else if (password.length < 4){
						document.getElementById("errorText").innerHTML = "Passwords Should Be Greater Than 3 Characters";
					} else {	
						var xhttp2 = new XMLHttpRequest();
						xhttp2.onreadystatechange = function(){
							if(xhttp2.readyState == 4 && xhttp.status == 200){
								if(xhttp2.responseText == "email not in use"){
									redirect('/register/?username='+username+'&password='+password+'&email='+email, 'post');
								} else {
									document.getElementById("errorText").innerHTML = "Email Already In Use";
								};
							};
						};
						xhttp2.open("GET", "/emailinuse/?email="+email,true);
						xhttp2.send();
					};
				};
			};
			xhttp.open("GET", "/usernameexists/?username=" + document.getElementById("userNameInput").value, true);
			xhttp.send();
		};
	</script>
</html>
	