body{
	background-color:#00539F;
	margin:0
}

h1{
	font-size: 22px;
	padding-left: 12px;
}
p{
	padding-left: 12px;
}
#surfer{
	display:block;
	margin: 30px auto;
	border-radius: 100%;
	border: 20px ridge;
	border-color: gold;
}
#center{
	width:645px;
	margin:auto;
	border:5px solid black;
	background-color:#00C957;
}
#header1{
	color:#0266C8;
}
#header2{
	color:#F90101;
}
#header3{
	color:#F2B50F;
}
#header4{
	color:#00933B;
}